/* ADAPTIVE
=============================*/
@media (max-width: 1350px) {

    /* Container */
    .container {
        max-width: 1000px;
        margin: 7% auto;
    }

    /* Select */
    .select__checkbox__value {
        font-size: 12px;
        width: 30px;
    }

    .select__checkbox {
        width: 55px;
    }

    /* Massage */
    .massage {
        font-size: 14px;
    }

    /* Information */
    .information__inner {
        padding: 0 25px;
    }
}

@media (max-width: 1190px) {

    /* Container */
    .container {
        max-width: 900px;
    }

    /* Intro */
    .intro__title {
        font-size: 22px;
    }

    .feedback__title {
        font-size: 22px;
    }

    /* Information */
    .information__photo {
        width: 100px;
    }
}

@media (max-width: 1000px) {

    html, body {
        height: 100%;
    }

    /* Container */
    .container {
        display: table;

        width: 100%;
        max-width: 1000px;
        border-radius: 0;
        margin: 0;

        position: relative;
        min-height: 100%;
    }

    /* Intro */
    .intro {
        padding-top: 25px;
    }

    /* Main */
    .main {
        display: table-row;
        height: 100%;
    }

    /* Checkbox */
    .select__checkbox {
        width: 56px;
    }

    .select__checkbox__icon {
        margin-bottom: 1px;
    }

    .select__checkbox__value {
        font-size: 11px;
        width: 28px;
    }

    /* Button */
    .form__button {
        font-size: 14px;
    }

    .form__submit {
        width: 130px;
    }

    .button__file__name {
        font-size: 14px;
        width: 100px;
    }

    /* Information */
    .information {
        padding: 15px 0;
    }

    .information__text {
        margin: 18px 0;
    }

    /* Feedback */
    .feedback__inner {
        padding-bottom: 25px;
    }

    /* Footer */
    .footer {
        border-top: 1px solid #000;
    }
}

@media (max-width: 850px) {

    /* Intro */
    .intro__title {
        font-size: 20px;
    }

    .intro__subtitle {
        font-size: 14px;
    }

    /* Button */
    .form__button {
        font-size: 13px;
    }

    .form__submit {
        width: 123px;
    }

    .button__file__name {
        font-size: 13px;
        width: 93px;
        transform: translate(0, 20%);
    }

    /* File */
    .form__file__text {
        font-size: 13px;
    }

    /* Massage */
    .massage {
        font-size: 13px;
    }

    /* Information */
    .information__inner {
        padding: 0 22px;
    }

    /* Feedback */
    .feedback__title {
        font-size: 20px;
    }

    .feedback__subtitle {
        font-size: 14px;
    }
}

@media (max-width: 700px) {

    /* Header */
    .header__logo {
        height: 52px;
    }

    /* Button */
    .form__button {
        font-size: 13px;
        padding: 7px 14px;
    }

    .form__submit {
        width: 120px;
    }

    .button__file__name {
        width: 90px;
    }

    /* File */
    .form__file__text {
        font-size: 12px;
    }

    /* Information */
    .information__photo {
        width: 90px;
        height: auto;
    }

    .information__text {
        margin: 15px 0;
    }

    /* Feedback */
    .feedback__textarea {
        min-height: 150px;
    }
}

@media (max-width: 600px) {

    /* Intro */
    .intro__title {
        font-size: 18px;
    }

    .intro__subtitle {
        font-size: 12px;
    }

    /* Logo */
    .header__logo {
        height: 50px;
    }

    /* Navigation */
    .nav {
        font-size: 14px;
    }

    /* Select */
    .spoiler.spoiler-is-active + .select__vertical {
        padding: 6px 0 6px 6px;
    }

    /* Button */
    .form__button {
        font-size: 12px;
        padding: 6px 14px;
    }

    .form__submit {
        width: 110px;
    }

    .button__file__name {
        font-size: 12px;
        width: 80px;
        transform: translate(0, 17%);
    }

    /* File */
    .form__file__text {
        font-size: 11px;
    }

    /* Information */
    .information__text {
        font-size: 12px;
    }

    /* Feedback */
    .feedback__title {
        font-size: 18px;
    }

    .feedback__subtitle {
        font-size: 12px;
    }

    .feedback__textarea {
        min-height: 100px;
    }
}

@media (max-width: 450px) {

    /* Logo */
    .header__logo {
        height: 45px;
    }

    /* Navigation */
    .nav {
        font-size: 12px;
    }

    /* Header */
    .intro__subtitle {
        padding: 0 20px;
    }

    /* Button */
    .form__submit {
        width: 100px;
    }

    .button__file__name {
        width: 70px;
    }

    /* Massage */
    .massage {
        font-size: 11px;
    }

    /* Information */
    .information {
        padding: 15px 0;
    }

    .information__inner {
        padding: 0 7px;
    }

    p {
        font-size: 11px;
    }

    /* Feedback */
    .feedback__inner {
        padding-bottom: 20px;
    }

    /* Footer */
    .footer__text {
        font-size: 8px;
    }
}

@media (max-width: 400px) {

    /* Select */
    .spoiler__title {
        max-width: 250px;
    }
}

@media (max-width: 350px) {

    /* Information */
    .information__photo {
        width: 75px;
    }

    /* Select */
    .spoiler__title {
        max-width: 220px;
    }

    /* Checkbox */
    .select__checkbox {
        width: 52px;
    }

    .select__checkbox__icon {
        margin-bottom: 1px;
        margin-top: 0;
    }

    .select__checkbox__value {
        font-size: 10px;
        width: 25px;
    }

    /* Button */
    .form__button {
        font-size: 11px;
        padding: 6px 11px
    }

    .form__submit {
        width: 90px;
    }

    .button__file__name {
        font-size: 11px;
        width: 66px;
        transform: translate(0, 20%);
    }

    /* Massage */
    .massage {
        font-size: 9px;
    }
}