/* TABLE
=============================*/
.table_additives {
    text-align: center;
}

.table_additives__title {
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 1.2;
    text-transform: uppercase;
}

.table_additives__table {
    font-size: 13px;
    font-weight: 400;
    color: #1E1E1E;
    text-align: center;
    border-collapse: collapse;
    border: 14px solid #D3FFE9;
    background: #D3FFE9;

    width: 100%;
    max-width: 1100px;
    margin: 0 auto 50px auto;
}

th {
    background: #B9FFDE;
    border: 14px solid #B9FFDE;
}

td:last-child {
    text-align: left;
}

th, td {
    padding: 10px 20px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
}

/* BUTTON
=============================*/
.button__download {
    margin-top: -20px;
}