/* INFORMATION
=============================*/
.information {
    padding: 25px 0;
    border-bottom: 1px solid #000;
}

.information__inner {
    width: 100%;
    max-width: 1050px;

    margin: 0 auto;
    text-align: center;
}

.information__photo {
    height: auto;
    width: 120px;

    transform: scaleX(-1);
}

.distance__photos {
    display: flex;
    justify-content: space-between;
}

.corner-left-down {
    transform: scaleX(1);
}

.corner-right-top {
    transform: rotate(-180deg);
}

.corner-left-top {
    transform: scaleX(-1) rotate(180deg);
}

.information__text {
    text-align: left;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;

    margin: 25px 0;
}

.information__text > p:last-child{
    margin-bottom: 0;
}
